/* universal */

*{
    margin: 0 auto;
    padding: 0;
    max-width: 1600px;      
}
.btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
}
.small{
    font-size: 16px;
    line-height: 20px;

}







/* nav */



#nav-container{
    display: flex;
    justify-content: space-between;
    margin: 16px auto;
    width: 66.6%;
    max-width: 1057px;
    align-items: center;
    /* border: 1px solid rgb(210, 20, 20); */
    
   
}
.nav-list ul{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
    
    /* border: 1px solid black; */
}


#nav-container button{
    padding: 12.5px;
}


/* bannar section */

#bannar .bannar-container{
    background-image: url("../assets/hero-bg.png");
    margin-top: 0;
    height: 674px;
    width: 100%;
    border: 1px solid black;
    

}

.bannar-content{
    text-align: center;
    
}
.bannar-content h4{
    margin-top: 115.5px;
    padding: 8px;
    border-radius: 1000px;
    font-size: 16px;
    color: #469165;
    background-color: rgb(255, 255, 255);
    width: 229px;
}

.bannar-content h1{
    margin-top: 16px;
    max-width: 770px;
    font-size: 72px;
    color: #FFFFFF;
    

}
.bannar-content h1 span{
    color: #469165;
}

.bannar-content p{
    margin-top: 16px;
    font-size: 18px;
    color: #FFFFFF;
    max-width: 588px;
    line-height: 24px;
}
.bannar-content .buttons{
    margin-top: 32px;
    gap: 16px;
    
}
.bannar-content button{
    font-size: 16px;
    padding: 16.5px;

}

/* adding card's part */

#card{
    width: 85%;
    max-width: 1360px;
    text-align: center;
    /* border: 1px solid black; */
}

.card-container{
    margin-top: 70px;
}
.card-container h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;

}
.card-container p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;

}
.card-box{
    display: flex;
    justify-content: center;
    gap: 24px;
    
}
.card{
    margin-top: 44px;
    height: 300px;
    width: 322px;
    padding: 24px;
    box-shadow: 1px 1px 50px rgba(80, 45, 45, 0.094);
}
.card h3{
    margin-top: 16px;
    font-size: 24px;
    font-weight: 600;
    color: #001931;

}
.card p{
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
    color: #627382;

}
.card img{
    margin-top: 69.5px
    height  60px;
    width: 60px;
    background-color: #F95555;
    padding-top: 69.5px;
    border-radius: 50px;
   
    padding: 14px;
}

/* the solution part */



.solution-container{
    display: flex;
    margin-top: 120px;
    width: 85%;
    max-width: 1360px;
    gap: 40px;
    /* border: 1px solid rgb(0, 0, 0); */
}

.solution-image img{
    width: 600px;
    height: auto;
    /* border: 1px solid rgb(210, 36, 36); */
    
}

.solution-content{
    text-align: left;
    margin-top: 120px ;
    /* border: 1px solid black; */
    max-width: 722px;
}



.first-para{
    color: #469165;
    margin-bottom: 16px;

}

.solution-content h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
    

}
.solution-content li{
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    gap:6px;
}
.solution-content li img{
    height: 20px;
    width: 20px;
}

.solution-content .main-para{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}

/* adding the past part */

.last-part-container{
    width: 85%;
    max-width: 1360px;
    height: 384px;
    text-align: center;
    border: 1px solid black;
    margin-top: 120px;
    background-color: #F7F6F2;
}
.last-part-container h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-top: 80px;

}
.last-part-container p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;

}
.last-part-container button{
    padding: 16.5px;
    margin-top: 16px;
}





