/* universal */

*{
    margin: 0 auto;
    padding: 0;
    max-width: 1600px;      
}
.btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
}








/* nav */



#nav-container{
    display: flex;
    justify-content: space-between;
    margin: 16px auto;
    width: 66.6%;
    max-width: 1057px;
    align-items: center;
    /* border: 1px solid rgb(210, 20, 20); */
    
   
}
.nav-list ul{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
    
    /* border: 1px solid black; */
}


#nav-container button{
    padding: 12.5px;
}

