/* universal */

*{
    margin: 0 auto;
    padding: 0;
    max-width: 1600px;      
}
.btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
}
.hover:hover{
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 20px rgba(255, 0, 0, 0.5);
}
.hover1:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.small{
    font-size: 16px;
    line-height: 20px;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;  
}

.width{
    width: 85%;
    max-width: 1360px;
}

/* nav */



#nav-container{
    display: flex;
    margin: 0 auto;
    padding: 16px;
    align-items: center;
}
.nav-list ul{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
    
    /* border: 1px solid black; */
}


#nav-container button{
    padding: 12.5px;
}


/* bannar section */

#bannar .bannar-container{
    background-image: url("../assets/hero-bg.png");
    height: 674px;
    width: 100%;
    border: 1px solid black;
    /* padding: 115.5px; */
}

.bannar-content{
    text-align: center;    
}
.bannar-content h4{
    margin-top: 115.5px;
    padding: 8px;
    border-radius: 1000px;
    font-size: 16px;
    color: #469165;
    background-color: rgb(255, 255, 255);
    width: 229px;
}

.bannar-content h1{
    margin-top: 16px;
    max-width: 770px;
    font-size: 72px;
    color: #FFFFFF;
}
.bannar-content h1 span{
    color: #469165;
}

.bannar-content p{
    font-size: 18px;
    color: #FFFFFF;   
}
.bannar-content .buttons{
    margin-top: 32px;
    gap: 16px;    
}
.bannar-content button{
    font-size: 16px;
    padding: 16.5px;
}
.btn-transparent{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
}

/* adding card's part */

#card{
    text-align: center;
    /* border: 1px solid black; */
}

.card-container{
    margin-top: 70px;
}

.card-container h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
.card-container p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.card-box{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card{
    margin-top: 44px;
    height: 300px;
    width: 322px;
    padding: 69.5px 24px 0;
    box-shadow: 1px 1px 50px rgba(80, 45, 45, 0.094);
}

.card h3{
    margin-top: 16px;
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}

.card p{
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.card img{
    height: 60px;
    width: 60px;
    background-color: #F95555;
    padding-top: 69.5px;
    border-radius: 50px;
   padding: 14px;
}

/* the solution part */



.solution-container{
    display: flex;
    margin-top: 120px;
    gap: 40px;
    /* border: 1px solid rgb(0, 0, 0); */
}

.solution-image img{
    width: 600px;
    height: auto;
    /* border: 1px solid rgb(210, 36, 36); */
    
}


.solution-content{
    /* text-align: left; */
    margin-top: 120px ;
    /* border: 1px solid black; */
    max-width: 722px;
}



.first-para{
    color: #469165;
    margin-bottom: 16px;

}

.solution-content h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.solution-content ul{
    margin: 0;
    padding: 0;
}


.solution-content li{
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    gap:6px;
    display: flex;
    /* border: 1px solid rgb(229, 8, 8);    */
    margin: 0;
    display: flex;
    align-items: flex-start;
}
.solution-content li img{
    height: 20px;
    width: 20px;
    
}

.solution-content .main-para{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}
.solution-content .li-image,
.solution-content .li-content{
    margin: 0;
}

/* adding the last part */

#last-part{
    margin-top: 120px;
}

.last-part-container{
    padding: 80px;
    margin: 0 auto;
    text-align: center;
    background-color: #F7F6F2;
}

.last-part-container h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}

.last-part-container p{
    color: #627382;
    margin: 16px 0;

}

.last-part-container button{
    padding: 16.5px;
}

/* adding footer part */

footer{
    margin-top: 120px;
    padding: 120px 0;
    
    /* width: 100%; */
    background-color:#001931; 
    color: #FAFAFA;  
}

.footer-container{
    margin: 0 auto;
}

.footer-top{
    display: flex;
    align-items: center;
    gap: 1001px; 
    margin-bottom: 80px;  
}

.footer-top .social-link{
    align-items: center;
    font-size: 20;
    font-weight: 600;
}
.footer-bottom{
    margin-top: 30px;
    margin: 30 auto;
    text-align: center;
}


